* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    scroll-behavior: smooth;
    background-color: #FFFFFF;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

span {
    font-size: 42px;
}

header {
    position: relative;
    margin: auto;
    font-size: 20;
    color: #FFFFFF;
}

.first_line {
    position: relative;
    margin: auto;
    display: flex;
    background-color: #969696;
    padding-left: 100px;
    padding-right: 100px;
    align-items: flex-end;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 160px;
    justify-content: space-between;
    align-items: center;
}

.btn_reg{
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #8C6EDF;
    border-radius: 12px;
    color: #F3F7F0;
}

.btn_town{
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #F3F7F0;
    align-items: center;
}

.btn_log{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #8C6EDF;
    border-radius: 12px;
    color: #F3F7F0;
}

.menu-button{
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    background-color: #FFFFFF;
    color: #343434;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.menu-button-1{
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    color: #F3F7F0;
    display: flex;
    align-items: center;
    margin-left: 5px;
}


.logo_label {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo_label img {
    height: 30px;
    padding-right: 15px;
}

.second_line {
    position: relative;
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20;
    margin-right: 100px;
    margin-left: 100px;
    color: #343434;
}

.header__button {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #8C6EDF;
    border-radius: 12px;
    color: #F3F7F0;
}

main {
    position: relative;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
}

.banner {
    background-blend-mode: overlay;
    border-radius: 10px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.label_site {
    justify-content: space-between;
    position: relative;
    margin: auto;
    margin-top: 10px;
    display: flex;
}

.label_site img{
    height: 47%;
    width: 47%;
    float: right;
}

.label_site p{
    font-size: 48px;
    color: #343434;
}

.search {
    background-color: #D2C4E9;
    height: 110px;
    position: relative;
    margin: auto;
    display: flex;
    margin-top: 30px;
    margin-right: 100px;
    border-radius: 20px;
    border-color: #34343440;
    border-style: solid;
    border-width: 1px;
    justify-content: space-between;
    align-items: center;
}

.search-button{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #8C6EDF;
    border-radius: 20px;
    border-color: #343434;
    color: #F3F7F0;
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
}

.dropdown-rooms {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    width: 150px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    background-color: #FFFFFF;
    color: #343434
}

.square {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    width: 120px;
    height: 45px;
    border-color: #34343440;
}

.address {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    border-radius: 15px;
    width: 400px;
    height: 45px;
    border-color: #34343440;
}

.num_rooms {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    border-radius: 15px;
    width: 200px;
    height: 45px;
    border-color: #34343440;
}

.search img {
    width: 21px;
}

.data-label p{
    font-size: 32px;
    color: #343434;
    width: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
}


footer {
    height: 200px;
    position: relative;
    margin: auto;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #343434;
    color: #FFFFFF;
}


.made-by {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}

.maded {
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 900px;
}

.label_site_about {
    position: relative;
    margin: auto;
    margin-top: 10px;
    display: flex;
    padding-left: 40%;
}

.label_site_about img{
    height: 47%;
    width: 47%;
    float: right;
}

.label_site_about p{
    font-size: 56px;
    color: #343434;
}

.label_site_about_text {
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    width: 900px;
}

.label_site_about_text p{
    font-size: 20px;
    color: #343434;
}

.label_site_advantages {
    position: relative;
    margin: auto;
    margin-top: 10px;
    display: flex;
}

.label_site_advantages img{
    height: 47%;
    width: 47%;
    float: right;
}

.label_site_advantages p{
    font-size: 56px;
    justify-content: center;
    color: #343434;
}

.label_site_advantages_text {
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    width: 900px;
}

.label_site_advantages_text ul{
    font-size: 20px;
    color: #343434;
}

.label_site_advantages_text p{
    font-size: 20px;
    font-weight: 500;
}

.reg_buttons {
    padding-bottom: 13px;
}