{% extends "base.html" %}

{% block content %}
<section class="label_site_about">
    <p>О нас</p>
    <!-- <img src="img/home.jpg"> -->
</section>
<section class="label_site_about_text">
    <p>Наш сервис WisDOM предоставляет возможность оценить вашу недвижимость с максимальной точностью.
        Алгоритмы машинного зрения ежеминутно обновляются благодаря вам.
          Каждый ваш запрос помогает становиться нам лучше!
            С WisDOM вы можете сделать мудрый выбор и не потерять деньги.</p>
    <p>С нами вы можете забыть об услугах оценщиков и получить достоверную информацию о своей недвижимости.</p>
</section>
{% endblock %}