{% extends "base.html" %}

{% block content %}
<section class="label_site_advantages">
    <p>Наши преимущества</p>
    <!-- <img src="img/home.jpg"> -->
</section>
<section class="label_site_advantages_text">
    <ul>
        <li><h3>Быстрый расчёт.</h3> Вам не нужно долго ждать, оценка производится моментально.</li>
        <p> </p>
        <li><h3>Цена.</h3> Наш сервис работает абсолютно бесплатно.</li>
        <p> </p>
        <li><h3>Доступность.</h3> Не нужно искать оценщика или анализировать рынок, мы сделаем это за вас.</li>
        <p> </p>
        <li><h3>Точность оценки.</h3> Мы используем актуальные данные, которые постоянно обновляются, улучшая точность модели.</li>
    </ul>
</section>
{% endblock %}